<html lang="en">

<head>

    <title>Mana Panchayat | Login</title>

    {{> header}}

</head>

<body>

    <div class="main-container d-flex justify-content-center align-items-center">

        <!-- Login Form -->
        <div id="loginFormContainer" class="login-container d-non box-container bg-white theme-shadow">
            <div class="row">
                <div class="col-12 p-5">
                    <h3 class="">Login</h3>
                    <hr />
                    <form id="loginForm">
                        <div class="form-group">
                            <div class="d-flex justify-content-between">
                                <label for="loginUsername">Username</label>
                                <span id="loginUsernameErrMsg" class="text-danger text-right"></span>
                            </div>
                            <input type="text" class="form-control" id="loginUsername"
                                placeholder="Enter Your Username">
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-between">
                                <label for="loginPassword">Password</label>
                                <span id="loginPasswordErrMsg" class="text-danger text-right"></span>
                            </div>

                            <input type="password" class="form-control" id="loginPassword"
                                placeholder="Enter New Password">
                        </div>

                        <button id="logInButton" class="btn bg-theme-primary text-theme-light btn-block">Login</button>
                        <div class="text-center mt-3">
                            <label class="form-check-label" for="gridCheck">
                                Not yet signed up? <span id="signupClick" class="text-danger cursor-point"> <a
                                        href="{{env}}/Auth/signUp">Signup Now</a> </span>
                            </label>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Local Js Link -->
    <script>
        // Login Related Elements
        let loginFormContainerEl = document.getElementById("loginFormContainer");
        let loginFormEl = document.getElementById("loginForm");
        let loginClickEl = document.getElementById("loginClick");
        // Login Input Elements
        let loginUsername = document.getElementById("loginUsername");
        let loginPasswordEl = document.getElementById("loginPassword");
        // Login Error Message
        let loginUsernameErrMsg = document.getElementById("loginMailErrMsg");
        let loginPasswordErrMsgEl = document.getElementById("loginPasswordErrMsg");
        // Login Form Validation
        loginUsername.addEventListener("blur", function (event) {
            if (event.target.value === "") {
                loginUsernameErrMsg.textContent = "Required*";
                loginUsername.classList.add("border-danger");
            } else {
                loginUsernameErrMsg.textContent = "";
                loginUsername.classList.remove("border-danger");
            }
        });

        loginPasswordEl.addEventListener("blur", function (event) {
            if (event.target.value === "") {
                loginPasswordErrMsgEl.textContent = "Required*";
                loginPasswordEl.classList.add("border-danger");
            } else {
                loginPasswordErrMsgEl.textContent = "";
                loginPasswordEl.classList.remove("border-danger");
            }
        });
        // Login Button Submit
        let logInButtonEl = document.getElementById("logInButton");

        // LogIn Onclick Functioning
        logInButtonEl.addEventListener("click", function (event) {

            event.preventDefault();

            //Login (Posting Data & get token)
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({
                "username": loginUsername.value,
                "password": loginPasswordEl.value
            });

            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            var env = "{{env}}";
            fetch(`${env}/Auth/signIn`, requestOptions)
                .then(response => response.json())
                .then(result => {
                    console.log(result)
                    if (result) {
                        if (result["loggedIn"]) {
                            var mainURL = window.location.href;
                            var baseURL = mainURL.substring(0, mainURL.lastIndexOf("/") + 1);
                            var postUrlEl = baseURL + "News/createNews";
                            window.location.href = postUrlEl;
                        }else{
                            // incorrect password
                        }
                    }
                })
                .catch(error => console.log('error', error));
        });

    </script>
</body>

</html>