<html lang="en">
    <head>

        <title>Mana Panchayat | SignUp</title>

        {{> header}}



    </head>

    <body>

        <div class="main-container d-flex justify-content-center align-items-center">

            <!-- SignUp Form -->
            <div id="signupFormContainer" class="box-container bg-white theme-shadow text-theme-font">
                <div class="row">
                    <div class="col-12 p-5">
                        <h4 class="text-center font-weight-bold">Sign Up</h4>
                        <hr />
                        <form id="signupForm">

                            <div class="form-row">
                                <!-- First Name -->
                                <div class="form-group col-md-6">
                                    <div class="d-flex justify-content-between">
                                        <label for="firstNameErrMsg">First Name</label>
                                        <span id="firstNameErrMsg" class="text-danger text-right"></span>
                                    </div>
                                    <input type="text" class="form-control" id="firstName" placeholder="First Name">

                                </div>

                                <!-- Last Name -->
                                <div class="form-group col-md-6">
                                    <div class="d-flex justify-content-between">
                                        <label for="lastName">Last Name</label>
                                        <span id="lastNameErrMsg" class="text-danger text-right"></span>
                                    </div>
                                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                                </div>
                            </div>
                            <!-- Username -->
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <label for="signupUsername">Username</label>
                                    <span id="signupUsernameErrMsg" class="text-danger text-right"></span>
                                </div>
                                <input type="text" class="form-control" id="signupUsername" placeholder="Set your Username ">
                            </div>
                            <!-- Password -->
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <label for="signupPassword">Password</label>
                                    <span id="signupPasswordErrMsg" class="text-danger text-right"></span>
                                </div>

                                <input type="password" class="form-control" id="signupPassword" placeholder="Enter New Password">
                            </div>
                            <!-- Mobile Number -->
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <label for="signupMobile">Mobile</label>
                                    <span id="signupMobileErrMsg" class="text-danger text-right"></span>
                                </div>

                                <input type="text" class="form-control" id="signupMobile" placeholder="Your Mobile Number">
                            </div>

                            <button id="signUpButton" type="submit" class="btn bg-theme-primary text-theme-light btn-block">Sign Up</button>
                            <div class="text-center mt-3">
                                <label class="form-check-label" for="gridCheck">
                                    Already Signed Up? <span id="loginClick" class="text-danger cursor-point"> <a href="{{env}}/Auth">Login Now</a> </span>
                                </label>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>

        <!-- Local Js Link -->
        <script src="./js/signup.js" type="text/javascript"></script>


    </body>
</html>