
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');

:root{
    --theme-primary:#ff5c35;
    --theme-secondary:#FEF4EA;
    --theme-dark:#213343;
    --theme-light: #F6F9FC;
    --theme-white: #FFFFFF;

    --theme-font-color: #2E475D;
    --theme-font-family: Lexend Deca,sans-serif;

    --theme-card-shadow: 0 0 11px #eaf0f6;

    --theme-gradient-green: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    --theme-gradient-orange: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );


}

.theme-shadow {
    box-shadow: var(--theme-card-shadow);
}


.gradient-green{
    background-image: var(--theme-gradient-green);
}
.gradient-orange{
    background-image: var(--theme-gradient-orange);
}

.footer{
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
}
#newsTitle{
    font-size: 2rem !important;
    font-weight: bold;
    color: var(--theme-font-color);
}

.cardu {
    border-radius: .5rem;
    box-shadow: var(--theme-card-shadow);
    background-color: var(--theme-white);
    color: var(--theme-font-color);

}

.badge-theme-primary{
    background-color: var(--theme-primary);
}


/* Theme Nav Bar */
.navbar-theme-dark a {
    color: var(--theme-light) !important;
}

.navbar-theme-light a {
    color: var(--theme-dark) !important;
}




/* Theme Background Colors */

.bg-theme-primary {
    background-color: var(--theme-primary) !important;
    color: var(--theme-font-color) !important;
}

.bg-theme-secondary {
    background-color: var(--theme-secondary) !important;
    color: var(--theme-font-color) !important;
}

.bg-theme-dark {
    background-color: var(--theme-dark) !important;
    color: var(--theme-light) !important;
}


/* Theme Text Colors */

.text-theme-primary {
    color: var(--theme-primary) !important;
}

.text-theme-secondary {
    color: var(--theme-secondary) !important;
}

.text-theme-dark {
    color: var(--theme-dark) !important;
}

.text-theme-light {
    color: var(--theme-light) !important;
}

.text-theme-font{
    color: var(--theme-font-color) !important;
}


body {
    font-family: var(--theme-font-family);
    color: var(--theme-font-color);
    background-color: var(--theme-light) !important;
}

body p {
    font-size: 1.05rem;
}


/* Login Page  */

.main-container {
    height: 100vh;
    background-color: var(--theme-light);
}

.login-container {
    width: 30rem;
}

.cursor-point {
    cursor: pointer;
}



#imgContainer{
    width: auto;
    max-height: 30rem;
    aspect-ratio: 16/9;
}

.share-container ul{
    padding-inline-start: 0px;
}

.share-container ul li{
    list-style: none;
    display: inline-block;
    border: .1px solid #4D727E;
    border-radius: .1rem;
    padding-inline: .8rem;
    margin-inline-end: .2rem;
    margin-top: .5rem;
    background-color: #EEEEEE;
    color: #1F4E5F;

}

#newsTitle{
    font-size: 1.9rem;
    font-weight: bold;
}

#newsContent{
    font-size: 1.8rem;
    line-height: 2rem;
    word-spacing: 0.3rem;
    font-weight: 400;
}


.newsCardDescriptionText {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
 
    #newsTitle{
        font-size: 1.5rem !important;
        font-weight: bold;
        color: var(--theme-font-color);
    }
}

